body {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    text-align:center;
    margin: 0;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
}

header img {
    height: 50px;
    margin: 10px;
}

.Nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 20px;
}

.Nav a {
    color: seashell;
    margin: 0 10px;
    text-decoration: underline;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.mission {
    height: 700px;
    background-image: url(images/cereal.png);
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    background-color: black;
    width: 100%;
}


.Tea-of-the-Month {
    max-width: 1000px;
    margin: 70px auto;
    gap: 15px;
}

.tea-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Tea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.Tea img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

.Locations {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    background-image: url(images/blackteacup.png); /* Replace with actual image */
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 120px;
    padding-right: 120px;
}

.Locations .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
}

h2 {
    font-size: 70px;
    margin: 10px;
}

.Shop {
    background-color: black;
    color: seashell;
    width: 300px;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    margin: 20px;
    flex-direction: row; /* Stack heading and cards vertically */
}

footer {
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.Contact {
    justify-content: center;
    padding: 20px;
}

#Copyright {
    position: absolute;
    text-align: left;
    left: 20px;
    bottom: 20px;
    margin: 0;
}